{{!-- login --}}

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Log In</h5>
          <form class="form-signin" id="form" action="/login" method="POST">
            <div class="form-group">
              <label for="inputEmail">Email</label>
              <input type="email" id="inputEmail" class="form-control" name="email" placeholder="email" required
                autocomplete="off">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password"
                autocomplete="current-password" required>
            </div>
            {{#if errorMessage}}
            <div class="error-message">{{ errorMessage }}</div>
            {{/if}}
            <button class="btn btn-primary" type="submit">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>